[Desktop Entry]
Name=Mihomo Party
Exec=clash-meta-party %U
Terminal=false
Type=Application
Icon=clash-meta-party
StartupWMClass=clash-meta-party
MimeType=x-scheme-handler/clash;x-scheme-handler/clash-meta;
Comment=Mihomo Party
Categories=Utility;
